<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Blog</title>
    <style media="screen">
      body {
        font-family: Arial, sans-serif;
        margin: 3rem;
      }

      a {
        padding: 1rem;
        background: ghostwhite;
        text-decoration: none;
        color: crimson;
        transition: all .2s;
      }

      a:hover {
        background: crimson;
        color: ghostwhite;
      }

      p {
        margin-bottom: 2rem;
      }
    </style>
  </head>
  <body>
    <p>
      <a href="/">Home</a>
      <a href="/posts">All Posts</a>
      <a href="/posts/new">New Post</a>
    </p>

    <%= yield %>
  </body>
</html>
