<form class="" action="/posts" method="post">
  <label for="post_name"> Post Name
  <input type="text" name="name" id="post_name">
  </label>

  <label for="content"> Post Content
    <input type="text" name="content" id="content">
  </label>

  <input type="submit" id="submit">
</form>
