<% post = @post %>

<h4>
<%= post.name %>
</h4>

<h4>
<%= post.content %>
</h4>

<% delete = "/posts/#{post.id}/delete" %>

<form class="" action="<%= delete %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" id="delete" value="Delete Post">
</form>
